{% extends "BUS443FinalApplication/base.html"%}

{% block content %}
        <div class "container">
            <div class="jumbotron"  >
                <h1>Student and Course Overview</h1>
                <p>BUS 443: Haley Wooten</p>
           
                
            </div>
        </div>
        <div class="card" style="width: 26rem; background-color: Red; display:inline-block;">
            <div class="card-body">
                <h5 class="card-title">Number of Students Enrolled</h5>
                <p class="card-text"> 20 </p>
                
            </div>
        
            
        </div>
        <div class="card" style="width: 26rem;  background-color: #A9A9A9; display:inline-block;">
            <div class="card-body">
                <h5 class="card-title">Number of Courses Offered</h5>
                <p class="card-text"> 19 </p>
            </div> 
        
            
        </div>
        <div class="card" style="width: 26rem;  background-color: Red; display:inline-block;">
            <div class="card-body">
                <h5 class="card-title">Average GPA </h5>
                <p class="card-text"> 3.596  </p>
            </div>
        
            
        </div>
         <div class="card" style="width: 26rem;  background-color: #A9A9A9; display:inline-block;">
            <div class="card-body">
                <h5 class="card-title">Number of Sophomores </h5>
                <p class="card-text">  6  </p>
            </div>
        
            
        </div>
        <div class="card" style="width: 26rem; background-color: Red; display:inline-block;">
            <div class="card-body">
                <h5 class="card-title">Number of Juniors </h5>
                <p class="card-text"> 7 </p>
            </div>
        
            
        </div>
        <div class="card" style="width: 26rem;  background-color: #A9A9A9; display:inline-block;">
            <div class="card-body">
                <h5 class="card-title">Number of Seniors </h5>
                <p class="card-text"> 7  </p>
            </div>
        
            
        </div>
 {% endblock %}